:root {
    --background-color-semi: #343A40;
    --background-color-middy: #2C303A;
    --primary-color: #000;
    --highlight-color: #FF5722;
    --nav-background: #1b2430;
    --green-background: #28A745;
    --text-color: #FFFFFF;
}


* {
    font-size: 16px;
    margin: 0;
    padding: 0;

}

body {
    text-align: center;
    background-color: #343A40;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#editors,
#homeSection,
#reports {
    padding: 10vh 0;
    min-height: 90vh;
    width: 100%;
}




/*---------------------------------------------------------------------------------
                                          NAVBAR
  ---------------------------------------------------------------------------------*/
.app-header {
    position: relative;
    z-index: 2;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: var(--nav-background);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;

}

/*To put the items of the ul in one row*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*To remove the dot sign in the li items*/
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/*To remove the underline*/
#navbar li a {
    text-decoration: none;
    font-family: 'Barlow Condensed';
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /*To do a smooth transtion whe hover is on*/
    transition: 0.3s ease-in-out;

}

#navbar li a:hover {
    color: var(--highlight-color);

}


/*to add the underline effect whe is hover on*/
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--highlight-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*ocultar un submenu */
#navbar li ul {
    display: none;
    position: absolute;
    min-width: 10%;

}

/*mostrar un submenú cuando se pase encima del elemento*/
#navbar li:hover>ul {
    display: block;
    background-color: var(--nav-background);
}

#navbar li ul li {
    position: relative;
}

#navbar li ul li ul {
    right: -10%;
    top: 0px;

}


#logoIcon {
    width: 10%;
    height: 100%;
    flex-shrink: 0;
    background-image: url('../images/logo-ecys-fiusac-min.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------------------------------------
                                SECTIONS
  ---------------------------------------------------------------------------------*/

#homeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: var(--green-background); */
    color: var(--text-color);

}

#reports {

    display: block;
    align-items: center;
    /* background-color: var(--green-background); */

}

::selection {
    /* se activa cuando seleccionó una porción de texto */
    background-color: var(--highlight-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--highlight-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

h1 {
    font-size: 5.5rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

h4 {
    font-size: 1rem;
    text-align: center;
}

#editors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.containerE {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    background-color: var(--background-color-middy);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    border-radius: 25px 25px 25px 25px;
}

.LEditor {
    text-align: left;
    width: 45%;
    height: 95%;
    color: #FFFFFF;
}

.REditor {
    text-align: left;
    width: 45%;
    height: 95%;
    color: #FFFFFF;
}

.textEditor {
    height: 90%;
    width: 100%;
    color: white;
    /* background-color: #000; */
    border-radius: 0px 0px 25px 25px;
}



.CodeMirror,
.infoTable {
    height: 90%;
    width: 100%;

    border-radius: 0px 0px 25px 25px;
    /* padding: 0 0.75rem; */

}



.infoTable {
    background-color: #000;
    overflow: auto;
}



table {
    border-collapse: collapse;
    width: 100%;
}


thead {
    background-color: var(--nav-background);
    color: white;
}


tbody {
    background-color: var(--primary-color);
}


tbody tr:nth-child(even) {
    /* background-color: var(--background-color-middy); */
    border-color: var(--background-color-middy);
}

tbody tr:nth-child(odd) {
    /* background-color: var(--background-color-semi); */
    border-color: var(--background-color-semi);
}


td,
th {
    /* border: 1px dotted var(--highlight-color); */
    padding: 8px;
}

td:hover {
    background-color: var(--highlight-color);
}




/*----------------------------------------------------------------------------------
                                    BUTTON
  ----------------------------------------------------------------------------------*/
.wrap {
    /*height: 100%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.button-run {
    min-width: 40px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: var(--green-background);
    background: linear-gradient(90deg, rgb(63, 209, 96) 0%, rgb(40, 167, 69) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(40, 167, 69, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button-run::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(80px + 12px);
    min-height: calc(60px + 12px);
    border: 3px solid var(--highlight-color);
    box-shadow: 0 0 60px rgba(255, 87, 34, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button-run:hover,
.button-run:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button-run:hover::before,
.button-run:focus::before {
    opacity: 1;
}

.button-run::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button-run:hover::after,
.button-run:focus::after {
    animation: none;
    display: none;
}

.invisible-button {
    opacity: 0;
}


@keyframes rainbow {

    0% {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, var(--highlight-color), yellow, var(--green-background)) 1;
    }

    25% {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, var(--green-background), yellow, var(--green-background)) 1;
    }


    50% {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, var(--green-background), yellow, var(--highlight-color)) 1;
    }

    75% {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, var(--highlight-color), yellow, var(--green-background)) 1;
    }

    100% {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, var(--highlight-color), yellow, var(--highlight-color)) 1;
    }
}


@keyframes colors {
    0% {
        color: var(--text-color);
    }

    50% {
        color: var(--green-background);
    }

    75% {
        color: var(--highlight-color);
    }

    100% {
        color: var(--text-color);
    }
}

#tiempoTranscurrido {
    animation: colors 1s infinite;
    text-align: center;
}